div[both-mm] {
    margin: 10px 0;
}

#diagnostics .key {
    color: #000000;
}

#diagnostics .val {
    color: #880000;
}

div[both-mm] {
    margin: 10px 0;
}

[both-mm-now] {
}

[both-mm-now=zawgyi-one], [both-mm-select=zawgyi-one] {
    background: hsla(120, 100%, 20%, 0.20)!important;
}

[both-mm-now=unicode], [both-mm-select=unicode] {
    background: hsla(30, 100%, 20%, 0.20)!important;
}

[both-mm-now=off], [both-mm-select=off] {
    background: hsla(0, 0%, 100%, 0.50)!important;
}
