body {
    background: #dddddd;
    font-family: sans-serif; /* Replace with Zawgyi-One to mimic having that forcefully installed */
    font-size: 16px;
}

.box {
    border: thin solid black;
    margin: 5px 0;
    padding: 5px 10px;
    background: #eeeeee;
}

p {
    margin: 10px 0 0 0;
}

.main {
    min-width: 100px;
    max-width: 1000px;
}

.main .text-block {
    background: #ffffff;
    border: thin solid black;
    margin: 5px 0;
    padding: 5px 10px;
    vertical-align: top;
}

h3 {
    padding: 0;
    margin: 8px 0 4px 0;
}
